{% extends base_template %}
{% block html_param %}ng-app="app"{% endblock %}
{% block title_page %}AL - Search{% endblock %}
{% block js_import %}
	<script src="/static/js/search.js"></script>
{% endblock %}
{% block ng_init %}ng-controller="ALController" ng-init="user={{user_js}};options={{options}};debug={{debug}};{% if query %}query='{{query}}';{% endif %};start();"{% endblock %}
{% block loading_menu %}ng-hide="!loading_extra"{% endblock %}
{% block content %}
	{%raw%}
	<section id="appContent" class="container">
		<div class="header_title text-right">
			<h1>Search</h1>
			<h4 ng-show="query" class="text-muted">:: {{query}} ::</h4>
		</div>
		<div ng-controller="SearchController" ng-init="page='search';load_favorites=true;load_global_favorites=false" class="bigpad">
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-resize">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal_title" id="myModalLabel">Adding query to favorites</h3>
                        </div>
                        <div class="modal-body">
                            <div>What name do you want this query to have in your favorite list?</div>
                            <div class="pad text-muted">{{cur_favorite.query}}</div>
                            <div id="modal-form" class="form-group">
                                <input type="text" id="confirm" class="form-control" ng-model="cur_favorite.name">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="default_btn" type="button" class="btn btn-primary" ng-click="addToFavorites();">Add to favorites</button>
                        </div>
                    </div>
                </div>
            </div>

			<form id="search-term" class="input-group" action="/search.html" method="get" role="search">
				<div class="inner-addon right-addon">
                    <span ng-show="new_query&&!inFavorites(new_query)" ng-click="promptAddFavorites(new_query)" class="text-muted glyphicon glyphicon-star-empty" title="Add to favorites"></span>
                    <span ng-show="inFavorites(new_query)" ng-click="removeFromFavorites(nameOfQuery(new_query))" class="text-info glyphicon glyphicon-star" title="Remove from favorites"></span>
                    <input autocomplete="off" id="search-box" placeholder="Search query" name="query" type="text" class="form-control" ng-model="new_query" typeahead="s for s in suggestions | filter:$viewValue | limitTo:20" typeahead-min-length='1' typeahead-on-select='onSelectPart($item, $model, $label)' />
                </div>
				<span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li ng-hide="favorites.length"><a><i>No favorites</i></a></li>
                        <li ng-repeat="fav in favorites"><a href="/search.html?query={{fav.query}}">{{fav.name}}</a></li>
                    </ul>

                </span>
			</form>
            <div class="pull-right">
				<a class="btn btn-link" href="/search_help.html"><span class="glyphicon glyphicon-question-sign">&nbsp;</span>Query&nbsp;Syntax</a>
			</div>
			<div class="text-danger"><b>{{invalid_query}}</b></div>
		</div>
		
		<div class="pull-right hidden-xs">
			<a href="/api/v3/signature/download/?query={{query}}" title="Download signatures" ng-show="export_btn" class="btn btn-default" style="font-size: 10pt; margin-top: 5px;"><span class="glyphicon glyphicon-download-alt"><span class="hidden-sm hidden-xs">&nbsp;</span></span><span class="hidden-sm hidden-xs">Download Signatures</span></a>
		</div>
		<div ng-controller="pagerCtrl" ng-init="pager_page='search'" ng-hide="file_list.items == null && submission_list.items == null && result_list.items == null">
			<ul class="nav nav-tabs" id="tabContent">
				<li id="submission_tab" class="active"><a href="#submission" data-toggle="tab" ng-click="page_switch(submission_list);show_export_btn(false)">Submissions ({{submission_list.total}})</a></li>
				<li id="file_tab"><a href="#file" data-toggle="tab" ng-click="page_switch(file_list);show_export_btn(false)">Files ({{file_list.total}})</a></li>
				<li id="result_tab"><a href="#result" data-toggle="tab" ng-click="page_switch(result_list);show_export_btn(false)">Results ({{result_list.total}})</a></li>
				{% endraw %}
                {% if not is_readonly %}
	            {%raw%}
                    <li id="signature_tab"><a href="#signature" data-toggle="tab" ng-click="page_switch(signature_list);show_export_btn(total>0)">Signatures ({{signature_list.total}})</a></li>
				{% endraw %}
                {% endif %}
	            {%raw%}
                <li ng-show="alert_list!=null" id="alert_tab"><a href="#alert" data-toggle="tab" ng-click="page_switch(alert_list);show_export_btn(false)">Alerts ({{alert_list.total}})</a></li>
			</ul>
						
			<div class="tab-content">
				<div class="tab-pane active" style="margin-top: 20px" id="submission">
					<div ng-show="submission_list.total > 0">
						<div pager></div>
					</div>
					<section class="table-responsive" ng-show="submission_list.total > 0">
						<table class="table table-hover table-striped table-clickthrough">
							<thead>
								<tr class="active">
									<th nowrap>Start Time</th><th>Score</th><th>Description</th><th>User</th><th nowrap># Files</th><th ng-if="user.c12n_enforcing">Classification</th><th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="submission in submission_list.items | orderBy:'times.submitted':true">
									<td nowrap><a href="/submission_detail.html?sid={{submission.submission.sid}}">{{submission.times.submitted | date:'yyyy-MM-dd HH:mm:ss'}}</a></td>
									<td class="{{submission.submission.max_score | score_color}}"><a href="/submission_detail.html?sid={{submission.submission.sid}}"><strong>{{submission.submission.max_score}}</strong></a></td>
									<td width="100%"><a href="/submission_detail.html?sid={{submission.submission.sid}}">{{submission.submission.description | maxLength:140 | breakableStr}}</a></td>
									<td nowrap><a href="/submission_detail.html?sid={{submission.submission.sid}}">{{submission.submission.submitter}}</a></td>
									<td><a href="/submission_detail.html?sid={{submission.submission.sid}}">{{submission.file_count}}</a></td>
									<td ng-if="user.c12n_enforcing"><a href="/submission_detail.html?sid={{submission.submission.sid}}"><label class="label classification {{submission.classification | class_label_color}}">{{submission.classification | class_sm }}</label></a></td>
									<td nowrap>
										<a href="/submission_detail.html?sid={{submission.submission.sid}}">
											<span ng-show="submission.state=='completed'&&submission.error_count==0" class="glyphicon glyphicon-ok text-success"></span>
											<span ng-show="submission.state=='completed'&&submission.error_count>0" class="glyphicon glyphicon-remove text-danger"></span>
											<span ng-show="submission.state=='completed'&&submission.error_count===undefined" class="text-muted"><strong>?</strong></span>
										</a>
									</td>
								</tr>
							</tbody>
							<tfoot ng-if="!options.hide_raw_results">
								<tr>
									<td colspan=7 class="raw_footer" data-toggle="collapse" data-target="#submission_raw">
										<div id="submission_raw" class="collapse">
											<div class="text-muted text-center clickable pad" width="100%">Close raw viewer</div>
											<pre style="cursor: auto;" ng-click="$event.stopPropagation()">{{dump(submission_list)}}</pre>
										</div>
									</td>
								</tr>
							</tfoot>
						</table>
					</section>
					<div ng-show="submission_list.total == 0">
						<div class="jumbotron text-center">
							<h3 class="text-muted">
								No submissions matching query:<br/>'{{query}}'
							</h3>
						</div>
					</div>
					
				</div>
				<div class="tab-pane" style="margin-top: 20px" id="file">
					<div ng-show="file_list.total > 0">
						<div pager></div>
					</div>
					<section class="table-responsive" ng-show="file_list.total > 0">
						<table class="table table-hover table-striped table-clickthrough">
							<thead>
								<tr class="active">
									<th nowrap>Last Seen Time</th><th>Count</th><th nowrap>File Type</th><th>SHA256</th><th>Size</th><th ng-if="user.c12n_enforcing">Classification</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="file in file_list.items | orderBy:'seen_last':true">
									<td><a href="/file_detail.html?srl={{file.sha256}}">{{file.seen_last | date:'yyyy-MM-dd HH:mm:ss'}}</a></td>
									<td><a href="/file_detail.html?srl={{file.sha256}}">{{file.seen_count}}</a></td>
									<td><a href="/file_detail.html?srl={{file.sha256}}">{{file.tag}}</a></td>
									<td><a href="/file_detail.html?srl={{file.sha256}}">{{file.sha256 | breakableStr}}</a></td>
									<td><a href="/file_detail.html?srl={{file.sha256}}">{{file.size}}</a></td>
									<td ng-if="user.c12n_enforcing"><a href="/file_detail.html?srl={{file.sha256}}"><label class="label classification {{file.classification | class_label_color}}">{{file.classification | class_sm}}</label></a></td>
								</tr>
							</tbody>
							<tfoot ng-if="!options.hide_raw_results">
								<tr>
									<td colspan=6 class="raw_footer" data-toggle="collapse" data-target="#file_raw">
										<div id="file_raw" class="collapse">
											<div class="text-muted text-center clickable pad" width="100%">Close raw viewer</div>
											<pre style="cursor: auto;" ng-click="$event.stopPropagation()">{{dump(file_list)}}</pre>
										</div>
									</td>
								</tr>
							</tfoot>
						</table>
					</section>
					<div ng-show="file_list.total == 0">
						<div class="jumbotron text-center">
							<h3 class="text-muted">
								No files matching query:<br/>'{{query}}'
							</h3>
						</div>
					</div>
				</div>
				<div class="tab-pane" style="margin-top: 20px" id="result">
					<div ng-show="result_list.total > 0">
						<div pager></div>
					</div>
					<section class="table-responsive" ng-show="result_list.total > 0">
						<table class="table table-hover table-striped table-clickthrough">
							<thead>
								<tr class="active">
									<th nowrap>Creation Date</th><th>Service</th><th>Score</th><th>SHA256</th><th ng-if="user.c12n_enforcing">Classification</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="result in result_list.items | orderBy:'file_info.seen_last':true">
									<td><a href="/file_detail.html?srl={{result._yz_rk | getHashFromKey}}">{{result.created | date:'yyyy-MM-dd HH:mm:ss'}}</a></td>
									<td><a href="/file_detail.html?srl={{result._yz_rk | getHashFromKey}}">{{result.response.service_name}}</a></td>
									<td class="{{result.result.score | score_color}}"><a href="/file_detail.html?srl={{result._yz_rk | getHashFromKey}}"><strong>{{result.result.score}}</strong></a></td>
									<td><a href="/file_detail.html?srl={{result._yz_rk | getHashFromKey}}">{{result._yz_rk | getHashFromKey | breakableStr}}</a></td>
									<td ng-if="user.c12n_enforcing"><a href="/file_detail.html?srl={{result.file_info.sha256}}"><label class="label classification {{result.classification | class_label_color}}">{{result.classification | class_sm}}</label></a></td>
								</tr>
							</tbody>
							<tfoot ng-if="!options.hide_raw_results">
								<tr>
									<td colspan=7 class="raw_footer" data-toggle="collapse" data-target="#result_raw">
										<div id="result_raw" class="collapse">
											<div class="text-muted text-center clickable pad" width="100%">Close raw viewer</div>
											<pre style="cursor: auto;" ng-click="$event.stopPropagation()">{{dump(result_list)}}</pre>
										</div>
									</td>
								</tr>
							</tfoot>
						</table>
					</section>
					<div ng-show="result_list.total == 0">
						<div class="jumbotron text-center">
							<h3 class="text-muted">
								No results matching query:<br/>'{{query}}'
							</h3>
						</div>
					</div>
				</div>
                {% endraw %}
                {% if not is_readonly %}
	            {%raw%}
				<div class="tab-pane" style="margin-top: 20px" id="signature">
					<div ng-show="signature_list.total > 0">
						<a href="/api/v3/signature/download/?query={{query}}" ng-show="export_btn" class="btn btn-default visible-xs" style="font-size: 10pt; margin-bottom: 15px; margin-right: 5px;"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Download signatures</a>
						<div pager></div>
					</div>
					<section class="table-responsive" ng-show="signature_list.total > 0">
						<table class="table table-hover table-striped table-clickthrough">
							<thead>
								<tr class="active">
									<th>ID</th><th>Name</th><th>Group</th><th ng-if="user.c12n_enforcing">Classification</th><th>Contact</th><th>Yara</th><th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s in signature_list.items">
									<td nowrap><a href="/signature_detail.html?sid={{s.meta.id}}&rev={{s.meta.rule_version}}">{{s.meta.id}} r.{{s.meta.rule_version}}</a></td>
									<td width="100%"><a href="/signature_detail.html?sid={{s.meta.id}}&rev={{s.meta.rule_version}}">{{s.name | breakableStr}}</a></td>
									<td><a href="/signature_detail.html?sid={{s.meta.id}}&rev={{s.meta.rule_version}}">{{s.meta.rule_group}}</a></td>
									<td ng-if="user.c12n_enforcing"><a href="/signature_detail.html?sid={{s.meta.id}}&rev={{s.meta.rule_version}}"><label class="label classification {{s.meta.classification | class_label_color}}">{{s.meta.classification | class_sm}}</label></a></td>
									<td><a href="/signature_detail.html?sid={{s.meta.id}}&rev={{s.meta.rule_version}}">{{s.meta.poc}}</a></td>
									<td><a href="/signature_detail.html?sid={{s.meta.id}}&rev={{s.meta.rule_version}}">{{s.meta.yara_version}}</a></td>
									<td>
										<a href="/signature_detail.html?sid={{s.meta.id}}&rev={{s.meta.rule_version}}">
											<span ng-show="s.meta.al_status=='DEPLOYED'" class="label classification label-success">{{s.meta.al_status}}</span>
											<span ng-show="s.meta.al_status=='NOISY'" class="label classification label-info">{{s.meta.al_status}}</span>
											<span ng-show="s.meta.al_status=='DISABLED'" class="label classification label-danger">{{s.meta.al_status}}</span>
											<span ng-show="s.meta.al_status=='TESTING'" class="label classification label-warning">{{s.meta.al_status}}</span>
											<span ng-show="s.meta.al_status=='STAGING'" class="label classification label-primary">{{s.meta.al_status}}</span>
                                            <span ng-show="s.meta.al_status=='INVALID'" class="label classification label-default">{{s.meta.al_status}}</span>
										</a>
									</td>
								</tr>
							</tbody>
							<tfoot ng-if="!options.hide_raw_results">
								<tr>
									<td colspan=7 class="raw_footer" data-toggle="collapse" data-target="#signature_raw">
										<div id="signature_raw" class="collapse">
											<div class="text-muted text-center clickable pad" width="100%">Close raw viewer</div>
											<pre style="cursor: auto;" ng-click="$event.stopPropagation()">{{dump(signature_list)}}</pre>
										</div>
									</td>
								</tr>
							</tfoot>
						</table>
					</section>
					<div ng-show="signature_list.total == 0">
						<div class="jumbotron text-center">
							<h3 class="text-muted">
								No signatures matching query:<br/>'{{query}}'
							</h3>
						</div>
					</div>
				</div>
                {% endraw %}
                {% endif %}
	            {%raw%}
				<div class="tab-pane" style="margin-top: 20px" id="alert">
					<div ng-show="alert_list.total > 0">
						<div pager></div>
					</div>
					<section class="table-responsive" ng-show="alert_list.total > 0">
						<table class="table table-hover table-striped table-clickthrough">
							<thead>
								<tr class="active">
									<th nowrap>Alert Time</th><th>Type</th><th>Status</th><th>Score</th><th>MD5</th><th nowrap>Classification</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="alert in alert_list.items | orderBy:'reporting_ts':true">
									<td><a href="/alert_detail.html?alert_key={{alert.event_id}}">{{alert.reporting_ts | date:'yyyy-MM-dd HH:mm:ss'}}</a></td>
									<td nowrap><a href="/alert_detail.html?alert_key={{alert.event_id}}">{{alert.type}}</a></td>
									<td nowrap><a href="/alert_detail.html?alert_key={{alert.event_id}}">{{alert.status}}</a></td>
									<td class="{{alert.al_score | score_color}}"><a href="/alert_detail.html?alert_key={{alert.event_id}}"><strong>{{alert.al_score}}</strong></a></td>
									<td><a href="/alert_detail.html?alert_key={{alert.event_id}}">{{alert.md5 | breakableStr}}</a></td>
									<td><a href="/alert_detail.html?alert_key={{alert.event_id}}"><label class="label classification {{alert.classification | class_label_color}}">{{alert.classification | class_sm}}</label></a></td>
								</tr>
							</tbody>
							<tfoot ng-if="!options.hide_raw_results">
								<tr>
									<td colspan=7 class="raw_footer" data-toggle="collapse" data-target="#alert_raw">
										<div id="alert_raw" class="collapse">
											<div class="text-muted text-center clickable pad" width="100%">Close raw viewer</div>
											<pre style="cursor: auto;" ng-click="$event.stopPropagation()">{{dump(alert_list)}}</pre>
										</div>
									</td>
								</tr>
							</tfoot>
						</table>
					</section>
					<div ng-show="alert_list.total == 0">
						<div class="jumbotron text-center">
							<h3 class="text-muted">
								No alerts matching query:<br/>'{{query}}'
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{%endraw%}
{% endblock %}				
{% block loading_jumbo %}ng-hide="file_list.items != null || submission_list.items != null || result_list.items != null || alert_list.items != null || query == null || invalid_query != null"{% endblock %}
