<div>
	<ul class="nav nav-tabs" id="tabContent">
		<li id="preview_tab" class="active" ng-hide="!editmode"><a href="#preview" data-toggle="tab">Preview</a></li>
		<li id="edit_tab" ng-hide="!user.is_admin&&current_signature.status=='DEPLOYED'"><a href="#edit" data-toggle="tab"><span ng-show="editmode">Edit</span><span ng-show="!editmode">Add</span> Signature</a></li>
		<li ng-show="(current_signature_state=='TESTING'||current_signature_state=='STAGING'||user.is_admin)&&editmode" id="state_tab"><a href="#state" data-toggle="tab">Change State</a></li>
	</ul>
				
	<div class="tab-content">
		<div class="tab-pane active" id="preview" ng-hide="!editmode">
			<div ng-if="user.c12n_enforcing" class="pad">
				<div class="label classification {{current_signature.classification | class_label_color}}">{{current_signature.classification | class_long}}</div>
			</div>
			<pre style="word-wrap: normal; white-space: pre-wrap;">{{current_signature | tc_signature}}</pre>
		</div>
		<div class="tab-pane" id="edit" ng-hide="!user.is_admin&&current_signature.status=='DEPLOYED'">
			<div class="pad">
				<div ng-if="user.c12n_enforcing" class="label classification {{current_signature.classification | class_label_color}}" data-toggle="modal" href="#classification_picker" ng-click="setClassification(current_signature.classification)">{{current_signature.classification | class_long}}</div>
			</div>
			<section class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Signature Name</label>&nbsp;&nbsp;<label class="label label-danger">required</label>
						<input ng-disabled="editmode" type="text" class="form-control input-sm " placeholder="Signature name" ng-model="current_signature_name">
					</div>
					<div class="form-group">
						<label class="control-label">Implant name</label>&nbsp;&nbsp;<span class="text-muted text-smaller">:: Generates an IMPLANT_NAME Tag</span>
						<input type="text" class="form-control input-sm" placeholder="Name of the implant that the signature finds (i.e. L0cky)" ng-model="current_signature.implant_family">
					</div>
					<div class="form-group">
						<label class="control-label">Threat actor</label>&nbsp;&nbsp;<span class="text-muted text-smaller">:: Generates an THREAT_ACTOR Tag</span>
						<input type="text" class="form-control input-sm" placeholder="Threat actor / General malware type (i.e. CRIMEWARE)" ng-model="current_signature.threat_actor">
					</div>
					<div class="form-group">
						<label class="control-label">Callback function</label>&nbsp;&nbsp;<span class="text-muted text-smaller">:: A function to call when the signature hits. These are stored in callbacks.py.</span>
						<input type="text" class="form-control input-sm" placeholder="al_services.alsvc_tagcheck.callbacks.add_tag:TAG_TYPE:TAG_VALUE" ng-model="current_signature.callback">
					</div>
   					<div class="form-group">
						<label class="control-label">Score</label>&nbsp;&nbsp;<label class="label label-danger">required</label>
						<select class="form-control input-sm" ng-model="current_signature.score">
                            <option value="INFO">INFO:  0</option>
                            <option value="LOW">LOW:   10</option>
                            <option value="MED">MED:   50</option>
                            <option value="HIGH">HIGH:  100</option>
                            <option value="VHIGH">VHIGH: 500</option>
                            <option value="SURE">SURE:  1000</option>
                            <option value="OK">OK:   -100</option>
                            <option value="NOT">NOT:  -1000</option>
                        </select>
					</div>
					<div ng-if="user.c12n_enforcing" class="form-group">
						<label class="control-label">Classification</label>&nbsp;&nbsp;<label class="label label-danger">required</label>
						<input type="text" class="form-control input-sm clickable" ng-model="current_signature.classification" readonly data-toggle="modal" href="#classification_picker" ng-click="setClassification(current_signature.classification)">
					</div>
					<div class="form-group">
						<label class="control-label">Description</label>
						<textarea style="font-family: monospace;" class="form-control input-sm" rows="3" placeholder="Enter a brief description of what the signature does..." ng-model="current_signature.comment"></textarea>
					</div>
					<div class="form-group">
						<label class="control-label">Tagcheck patterns</label>&nbsp;&nbsp;<label class="label label-danger">required</label>
                        <p class="text-muted text-smaller">List of all tags to match with the following format: (one per line)<br>
                        TAG_TYPE:TAG_VALUE<br>
                        <b>Note:</b> both type and values can be REGEX i.e. .*MUTEX.*:(?i)BMUTEX\\!</p>
						<textarea style="font-family: monospace;" wrap="off" class="form-control input-sm" rows="3" placeholder="List of patterns to match, one per line" ng-model="current_signature.values" split-array="{splitter: '\n'}"></textarea>
					</div>
				</div>
			</section>

			<button type="button" class="btn btn-primary" ng-click="save(current_signature_name);">Save signature</button>
		</div>
		<div ng-show="(current_signature_state=='TESTING'||current_signature_state=='STAGING'||user.is_admin)&&editmode" class="tab-pane" id="state">
			<div class="pad">
				<h4>Changing the status of a tagcheck signature</h4>
				<p>Before changing the signature state take note of the following:</p>
				<ul>
					<li>Only admins can set a tagcheck signature to DEPLOYED.</li>
					<li>Only admins can change DEPLOYED signature to another status.</li>
					<li>All other status can be set at anytime on any signature by any user.</li>
				</ul>
				<label>Choose the new signature state:</label>
				<select class="form-control" ng-model="current_signature.status" ng-change="set_state_change()">
					<option ng-if="user.is_admin">DEPLOYED</option>
					<option ng-if="(user.is_admin && current_signature_state=='DEPLOYED') || current_signature_state!='DEPLOYED'">DISABLED</option>
					<option ng-if="(user.is_admin && current_signature_state=='DEPLOYED') || current_signature_state!='DEPLOYED'">STAGING</option>
					<option ng-if="(user.is_admin && current_signature_state=='DEPLOYED') || current_signature_state!='DEPLOYED'">TESTING</option>
				</select>
			</div>
			<button type="button" class="btn btn-primary" ng-click="change_state(current_signature_name, current_signature.status);" ng-disabled="!state_changed">Save state</button>
		</div>
	</div>
</div>
